<form action="/vent" method="POST">
  <h1>Vent it out!?</h1>

  {{#each errors}}
    <p class="error text-center">{{this}}</p>
  {{/each}}

  <input type="text" name="text" placeholder="Write your message">
  <button>Submit</button>
</form>
